body {
  margin: 70 83;
  background-color: #1b244a;
  background-size: center;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
}

h3 {
  font-family: "Verand", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-top: 68px;
  color: white;
}

.score-border {
  background-color: #080001;
  height: 120px;
  width: 155px;
  border-radius: 10px;
}

h5 {
  color: red;
  font-family: "Cursed Timer ULiL", sans-serif;
  font-size: 80px;
}
